# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


build/

# Ignore everything under the dependencies directory by default
dependencies/**
vendor/**

# But allow directories (so git can recurse into them) and keep any .gitkeep files
!dependencies/**/
!dependencies/**/.gitkeep
!vendor/**/
!vendor/**/.gitkeep
